{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Emolumentos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="apple-touch-icon" sizes="300x300" href="{% static 'imgs/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'imgs/site.webmanifest' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

  <style>
    .sidebar{
      overflow-y: auto;
    }
  </style> 
</head>
<body>

  <div class="sidebar" id="sidebar">
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
      </svg>
      SIGEsc
    </div>
    <div class="user-info">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>
      <div><strong>Director Administrativo</strong></div>
      <small>{{usuario.username}}</small>
    </div>
    <a href="{% url 'administracao:dashboard' %}">
        <i class="fas fa-home me-2"></i> Dashboard
      </a>
      <a href="{% url 'administracao:usuarios' %}">
        <i class="fas fa-users me-2"></i> Usuários
      </a>
      <a href="{% url 'administracao:cadastrar_funcionario' %}">
         <i class="fas fa-user-tie me-2"></i> Funcionários
      </a>
      <a href="{% url 'administracao:alunos_lista' %}">
        <i class="fas fa-user-graduate me-2"></i> Alunos
      </a>
      <a href="{% url 'administracao:turmas_e_salas' %}">
        <i class="fas fa-school me-2"></i> Turmas  e Salas
      </a>
      <a href="{% url 'administracao:classes' %}">
        <i class="fas fa-clipboard-list me-2"></i> Classes
      </a>
      <a href="{% url 'administracao:cursos' %}">
        <i class="fas fa-chart-bar me-2"></i> Cursos
      </a>
      <a href="{% url 'administracao:matriculas' %}">
        <i class="fas fa-clipboard-list me-2"></i> Matrículas
      </a>
      <a href="{% url 'financa:financas' %}" class="active">
        <i class="fas fa-wallet me-2"></i> Finanças
      </a>
      <a href="{% url 'financa:relatorios' %}">
        <i class="fas fa-chart-pie me-2"></i> Relatórios
      </a>
      <br><br>
  </div>

  <div class="main-content">
    <div class="topbar">
      <h5>Sistema Integrado de Gestão Escolar</h5>
      <div class="d-flex align-items-center gap-3">
        <button class="burger" onclick="toggleSidebar()">☰</button>
        <a class="logout btn btn-danger" href="{% url 'core:logout' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
            <path d="M7.5 1v7h1V1z"/>
            <path d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812"/>
          </svg>
          Sair
        </a>
      </div>
    </div>

    <div class="container mt-4">
      <h3 class="page-title"> <i class="fas fa-wallet me-2"></i>Lista de Emolumentos a Cobrar</h3>
      <!-- Emolumentos Section -->
       <!-- Resumo da Configuração -->
        <div class="alert alert-info mb-4">
            <h6><i class="bi bi-info-circle"></i> Configuração Aplicada</h6>
            <p class="mb-1"><strong>Valor de desconto por falta:</strong> Kz {{ desconto|floatformat:2 }}</p>
            <small>Este valor é descontado do salário para cada falta registrada no mês.</small>
            <button class="btn btn-sm btn-warning" onclick="editValorFalta('{{ desconto.id }}', '{{ desconto.valor_desconto }}')">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill text-light" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
              </svg><b> Alterar Valor</b>
            </button>
        </div>
    
      <button class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#addEmolumentoModal">Adicionar</button>
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
            <th class="text-dark">#</th>
            <th class="text-dark">Emolumento</th>
            <th class="text-dark">Valor</th>
            <th class="text-dark">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for emolumento in emolumentos %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ emolumento.nome }}</td>
            <td>{{ emolumento.valor }} Kzs</td>
            <td>
                <button class="btn btn-sm btn-warning" onclick="editEmolumento('{{ emolumento.id }}', '{{ emolumento.nome }}', '{{ emolumento.valor }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill text-light" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                </svg>
                </button>
                <a href="#" class="btn btn-sm btn-danger"
                  onclick="openDeleteModal('Emolumento', '{{ emolumento.id }}', '{{ emolumento.nome }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-light" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                  </svg>
                </a>
            </td>
            </tr>
            {% empty %}
            <tr><td colspan="4" class="text-center">Nenhum emolumento cadastrado.</td></tr>
            {% endfor %}
        </tbody>
      </table>

      <!-- Multas Section -->
      <br><br>
      <h3 class="page-title">Aplicação de Multa</h3>
      <br><br>
      <button class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#addMultaModal">Adicionar</button>
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
            <th class="text-dark">#</th>
            <th class="text-dark">Emolumento</th>
            <th class="text-dark">Multa</th>
            <th class="text-dark">Data de Vencimento</th>
            <th class="text-dark">Valor</th>
            <th class="text-dark">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for multa in multas %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ multa.emolumento.nome }}</td>
            <td>
              {% if multa.aplicar_multa == True %}
                <span class="badge bg-success">Aplicada</span>
              {% else %}
                <span class="badge bg-danger">Não Aplicada</span>
              {% endif %}
            </td>
            <td>{{ multa.data_aplicacao }}</td>
            <td>{{ multa.valor_multa }}</td>
            <td>
                <a href="#" class="btn btn-sm btn-danger"
                  onclick="openDeleteModal('Multa', '{{ multa.id }}', 'Multa para {{ multa.emolumento.nome }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-light" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                  </svg>
                </a>
            </td>
            </tr>
            {% empty %}
            <tr><td colspan="6" class="text-center">Multas não aplicadas</td></tr>
            {% endfor %}
        </tbody>
      </table>

      <!-- Formas de Pagamento Section -->
      <br><br>
      <h3 class="page-title">Formas de Pagamento Disponíveis</h3>
      <br><br>
      <button class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#addPagamentoModal">Adicionar</button>
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
            <th class="text-dark">#</th>
            <th class="text-dark">Tipo</th>
            <th class="text-dark">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tipoPagamento in tipoPagamentos %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ tipoPagamento.nome }}</td>
            <td>
                <button class="btn btn-sm btn-warning" onclick="editPagamento('{{ tipoPagamento.id }}', '{{ tipoPagamento.nome }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill text-light" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                </svg>
                </button>
                <a href="#" class="btn btn-sm btn-danger"
                  onclick="openDeleteModal('FormaPagamento', '{{ tipoPagamento.id }}', '{{ tipoPagamento.nome }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-light" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                  </svg>
                </a>
            </td>
            </tr>
            {% empty %}
            <tr><td colspan="3" class="text-center">Nenhuma forma de pagamento cadastrada.</td></tr>
            {% endfor %}
        </tbody>
      </table>

      <!-- Meses a Pagar Section -->
      <br><br>
      <h3 class="page-title">Meses a Pagar</h3>
      <br><br>
      <button class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#addMesModal">Adicionar</button>
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
            <th class="text-dark">#</th>
            <th class="text-dark">Mês</th>
            <th class="text-dark">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for mes in mesesPagar %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ mes.nome }}</td>
            <td>
                <button class="btn btn-sm btn-warning" onclick="editMes('{{ mes.id }}', '{{ mes.nome }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill text-light" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                </svg>
                </button>
                <a href="#" class="btn btn-sm btn-danger"
                  onclick="openDeleteModal('Mes', '{{ mes.id }}', '{{ mes.nome }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-light" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                  </svg>
                </a>
            </td>
            </tr>
            {% empty %}
            <tr><td colspan="3" class="text-center">Nenhum mês cadastrado.</td></tr>
            {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <!-- editar falta valor -->
  <div class="modal fade" id="editValorFaltaModal" tabindex="-1" aria-labelledby="editValorFaltaModalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editValorFaltaModalLabel">Alterar Valor a Aplicar por Falta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:editValorFalta' %}">
          {% csrf_token %}
          <input type="hidden" id="editValorFaltaId" name="id">
          <div class="modal-body">
            <div class="mb-3">
              <label for="editValorFalta" class="form-label">Valor (Kzs)</label>
              <input type="number" class="form-control" id="editValorFalta" name="valor" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Add Emolumento Modal -->
  <div class="modal fade" id="addEmolumentoModal" tabindex="-1" aria-labelledby="addEmolumentoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmolumentoModalLabel">Adicionar Emolumento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:add_emolumento' %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="emolumentoNome" class="form-label">Nome do Emolumento</label>
              <input type="text" class="form-control" id="emolumentoNome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="emolumentoValor" class="form-label">Valor (Kzs)</label>
              <input type="number" class="form-control" id="emolumentoValor" name="valor" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Emolumento Modal -->
  <div class="modal fade" id="editEmolumentoModal" tabindex="-1" aria-labelledby="editEmolumentoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editEmolumentoModalLabel">Editar Emolumento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:edit_emolumento' %}">
          {% csrf_token %}
          <input type="hidden" id="editEmolumentoId" name="id">
          <div class="modal-body">
            <div class="mb-3">
              <label for="editEmolumentoNome" class="form-label">Nome do Emolumento</label>
              <input type="text" class="form-control" id="editEmolumentoNome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="editEmolumentoValor" class="form-label">Valor (Kzs)</label>
              <input type="number" class="form-control" id="editEmolumentoValor" name="valor" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add Multa Modal -->
  <div class="modal fade" id="addMultaModal" tabindex="-1" aria-labelledby="addMultaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMultaModalLabel">Adicionar Multa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:add_multa' %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="multaEmolumento" class="form-label">Emolumento</label>
              <select class="form-select" id="multaEmolumento" name="emolumento" required>
                <option value="" selected disabled>Selecione um emolumento</option>
                {% for emolumento in emolumentos %}
                <option value="{{ emolumento.id }}">{{ emolumento.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="multaAplicar" class="form-label">Aplicar Multa?</label>
              <select class="form-select" id="multaAplicar" name="aplicar_multa" required>
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
              </select>
            </div>
            <div class="mb-3">
                <label for="editMultaData" class="form-label">Data de Vencimento</label>
              <input type="number" name="data_aplicacao" class="form-control"
                    id="id_data_aplicacao" min="1" max="31" required>
              <small class="form-text text-muted">Informe apenas o dia (1–31).</small>
            </div>
            <div class="mb-3">
              <label for="multaValor" class="form-label">Valor da Multa (Kzs)</label>
              <input type="number" class="form-control" id="multaValor" name="valor_multa" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Multa Modal -->
  <div class="modal fade" id="editMultaModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'financa:edit_multa' %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Editar Multa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="multa_id" name="multa_id">

          <div class="mb-3">
            <label for="emolumento_edit">Emolumento</label>
            <select id="emolumento_edit" name="emolumento" class="form-control">
              {% for emolumento in emolumentos %}
                <option value="{{ emolumento.id }}">{{ emolumento.nome }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <div class="mb-3">
              <label for="multaAplicar" class="form-label">Aplicar Multa?</label>
              <select class="form-select" id="aplicar_multa_edit" name="aplicar_multa" required>
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="data_aplicacao_edit">Dia de Aplicação</label>
            <input type="number" min="1" max="31" id="data_aplicacao_edit" name="data_aplicacao" class="form-control">
          </div>

          <div class="mb-3">
            <label for="valor_multa_edit">Valor da Multa</label>
            <input type="number" step="0.01" id="valor_multa_edit" name="valor_multa" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>


  <!-- Add Pagamento Modal -->
  <div class="modal fade" id="addPagamentoModal" tabindex="-1" aria-labelledby="addPagamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPagamentoModalLabel">Adicionar Forma de Pagamento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:add_pagamento' %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="pagamentoNome" class="form-label">Tipo de Pagamento</label>
              <input type="text" class="form-control" id="pagamentoNome" name="nome" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Pagamento Modal -->
  <div class="modal fade" id="editPagamentoModal" tabindex="-1" aria-labelledby="editPagamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPagamentoModalLabel">Editar Forma de Pagamento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:edit_pagamento' %}">
          {% csrf_token %}
          <input type="hidden" id="editPagamentoId" name="id">
          <div class="modal-body">
            <div class="mb-3">
              <label for="editPagamentoNome" class="form-label">Tipo de Pagamento</label>
              <input type="text" class="form-control" id="editPagamentoNome" name="nome" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add Mes Modal -->
  <div class="modal fade" id="addMesModal" tabindex="-1" aria-labelledby="addMesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMesModalLabel">Adicionar Mês</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:add_mes' %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="mesNome" class="form-label">Nome do Mês</label>
              <input type="text" class="form-control" id="mesNome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="mesNumero" class="form-label">Número do Mês</label>
              <input type="text" class="form-control" id="mesNumero" name="numero" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Mes Modal -->
  <div class="modal fade" id="editMesModal" tabindex="-1" aria-labelledby="editMesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editMesModalLabel">Editar Mês</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:edit_mes' %}">
          {% csrf_token %}
          <input type="hidden" id="editMesId" name="id">
          <div class="modal-body">
            <div class="mb-3">
              <label for="editMesNome" class="form-label">Nome do Mês</label>
              <input type="text" class="form-control" id="editMesNome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="mesNumero" class="form-label">Número do Mês</label>
              <input type="text" class="form-control" id="editMesNumero" name="numero" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'financa:delete_item' %}">
          {% csrf_token %}
          <input type="hidden" id="deleteItemType" name="item_type">
          <input type="hidden" id="deleteItemId" name="item_id">
          <div class="modal-body">
            <p>Tem certeza que deseja excluir <span id="itemName" class="fw-bold"></span>?</p>
            <p class="text-danger">Esta ação não pode ser desfeita!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Excluir</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script>
    // Emolumento functions
    function editEmolumento(id, nome, valor) {
      document.getElementById('editEmolumentoId').value = id;
      document.getElementById('editEmolumentoNome').value = nome;
      if(valor){
         document.getElementById('editEmolumentoValor').value = valor.toString().replace(",", ".");
      }
      
      var modal = new bootstrap.Modal(document.getElementById('editEmolumentoModal'));
      modal.show();
    }
    function editValorFalta(id, valor) {
      document.getElementById('editValorFaltaId').value = id;
      if(valor){
         document.getElementById('editValorFalta').value = valor.toString().replace(",", ".");
      }
      
      var modal = new bootstrap.Modal(document.getElementById('editValorFaltaModal'));
      modal.show();
    }

    // Multa functions
    function editMulta(id, emolumentoId, aplicarMulta, dataAplicacao, valorMulta) {
        document.getElementById("multa_id").value = id;
        document.getElementById("emolumento_edit").value = emolumentoId;
        document.getElementById("aplicar_multa_edit").value = aplicarMulta === "True" ? "Sim" : "Não";
        document.getElementById("data_aplicacao_edit").value = dataAplicacao; // aqui vai o dia (1-31)
        if (valorMulta) {
           document.getElementById("valor_multa_edit").value = valorMulta.toString().replace(",", ".");
        }
      
      var modal = new bootstrap.Modal(document.getElementById('editMultaModal'));
      modal.show();
    }

    // Pagamento functions
    function editPagamento(id, nome) {
      document.getElementById('editPagamentoId').value = id;
      document.getElementById('editPagamentoNome').value = nome;
      
      var modal = new bootstrap.Modal(document.getElementById('editPagamentoModal'));
      modal.show();
    }

    // Mes functions
    function editMes(id, nome) {
      document.getElementById('editMesId').value = id;
      document.getElementById('editMesNome').value = nome;
      
      var modal = new bootstrap.Modal(document.getElementById('editMesModal'));
      modal.show();
    }

    // Delete confirmation
    function openDeleteModal(itemType, itemId, itemName) {
      document.getElementById('deleteItemType').value = itemType;
      document.getElementById('deleteItemId').value = itemId;
      document.getElementById('itemName').textContent = itemName;
      
      var modal = new bootstrap.Modal(document.getElementById('deleteModal'));
      modal.show();
    }
    function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("active");
      }
  </script>
</body>
</html>