{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Pautas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="apple-touch-icon" sizes="300x300" href="{% static 'imgs/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'imgs/site.webmanifest' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

  <style>
    .sidebar{
      overflow-y: auto;
    }
  </style>
</head>
<body>

  <div class="sidebar" id="sidebar">
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
      </svg>
      SIGEsc
    </div>
    <div class="user-info">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>
      <div><strong>Conta do Professor</strong></div>
      <small>{{usuario.username}}</small>
    </div>
    <a href="{% url 'pedagogico:dashboard' %}">
      <i class="fas fa-home me-2"></i> Página Inicial
    </a>
    <a href="{% url 'pedagogico:alunos_lista' %}">
      <i class="fas fa-user-graduate me-2"></i> Meus Alunos
    </a>
    <a href="{% url 'pedagogico:coordenacoes' %}" class="active">
      <i class="fas fa-user-cog me-2"></i> Coordenação
    </a>
  </div>

  <div class="main-content">
    <div class="topbar">
      <h5>Sistema Integrado de Gestão Escolar</h5>
      <div class="d-flex align-items-center gap-3">
        <button class="burger" onclick="toggleSidebar()">☰</button>
        <a class="logout btn btn-danger" href="{% url 'core:logout' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
            <path d="M7.5 1v7h1V1z"/>
            <path d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812"/>
          </svg>
          Sair
        </a>
      </div>
    </div>

    <div class="container mt-4">
      {% if texto %}
         <h3 class="page-title w-100"><i class="fas fa-chart-bar me-2"></i>Pauta de Exame</h3>
      {% else %}
        <h3 class="page-title w-100"><i class="fas fa-chart-bar me-2"></i>PAUTA DO {{ trimestre }}º TRIMESTRE</h3>
      {% endif %}
      <a href="{% url 'documentos:pautas_coord_trimestre_print' trimestre %}" class="btn btn-success" target="_blank">Imprimir Pauta</a>
      <div class="container mt-4">
        <div class="d-flex justify-content-between mb-4">
          <form method="GET" class="d-flex w-75">
            <input type="text" name="q" class="form-control me-2" placeholder="Buscar aluno, nº mecanográfico ou turma..." value="{{ search_query }}">
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
                Pesquisar
              </button>
            </div>
          </form>
        </div>

        {% for grupo, pauta_alunos in turmas_agrupadas.items %}
          <div class="card my-3">
            <div class="card-header text-secondary">
              <h5 class="mb-0">| {{ grupo }}</h5>
            </div>
            <div class="card-body">
              <table class="table table-bordered">  
                <thead>
                  <tr>
                    <th class="text-dark">Ord.</th>
                    <th class="text-dark">Nome</th>
                    {% with primeira_linha=pauta_alunos.0 %}
                      {% for disciplina in primeira_linha.disciplinas %}
                        <th class="text-dark">{{ disciplina.nome }}</th>
                      {% endfor %}
                    {% endwith %}
                    <th class="text-dark">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  {% for linha in pauta_alunos %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ linha.aluno }}</td>
                    {% for disciplina in linha.disciplinas %}
                      <td>{{ disciplina.valor|default:"--" }}</td>
                    {% endfor %}
                    <td>
                      {% if linha.estado == 'Aprovado' %}
                        <span class="badge bg-success">Aprovado</span>
                      {% elif linha.estado == 'Reprovado' %}
                        <span class="badge bg-danger">Reprovado</span>
                      {% else %}
                        <span class="badge bg-warning">Pendente</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
      function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("active");
      }
    </script>
</body>
</html>
